.ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .ant-carousel .slick-dots li button {
    background: #02adfc;
    opacity: 0.4;
  }
  
  .ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #48e7fc;
  }


@keyframes slidein{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleY(1);
    }
} 

.button:hover {
    background-color: #035007;
    box-shadow: 0px 15px 20px rgba(8, 10, 9, 0.5);
    color: #fff;
    transform: translateY(-2px);
}

.voter-edu{
  overflow: hidden;
  background: linear-gradient(18deg, #e4e6e1, #03b0f5);
  flex-direction: row;
  justify-content: space-between;
}
 .myslide{
      display: none;
  }
  .slide-img{
      vertical-align: middle;
      height: 400px;
      width: 100%;
  }

  .slideshow-container{
      position: relative;
      margin: auto;
  }

  .text{
    font-size: clamp(1rem, 3vw, 4rem);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-color: black;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    bottom: 0px;
    color: #ffff;
    position: absolute; 
    letter-spacing: 1.5px;
  }

  .slide-btn{
      background: none;
      border-radius: 18px;
      width: 300px;
      height: 50px;
      font-size: 20px;
      color: #fff;
      
  }

  .slide-btn:hover{ 
      background: rgb(1, 224, 253);
      color: black;
  }
  @media screen and (max-width: 600px){
      .text{
          padding-top: 30px;
      }
       .slide-img{
          height: 250px;
      }
      .slide-btn{
        background: none;
        border-radius: 15px;
        width: 250px;
        height: 45px;
        font-size: 17px;
        
    }
      
  }

  @media screen and (max-width: 400px){
    .text{
        font-size: 12px;
        padding: 15px 50px 0px 50px;
        line-height: 25px;
    }
     .slide-img{
        height: 230px;
    }
    .slide-btn{
      background: none;
      border-radius: 15px;
      width: 250px;
      height: 45px;
      font-size: 17px;
      text-align: center;  
  }
}

.ov{
    background-image: url('../image/ov.jpg');
    background-size: cover;
    text-align: center;
    height: 500px;
    background-size: cover;
    object-fit: cover;
}
@media screen and (max-width: 400px){
    .ov{
        height: 260px;
        letter-spacing: 1px;
    }
}
.ov-p1{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 30px 20px;
}
@media screen and (min-width: 1070px){
    .ov-p1{
        line-height: 100px;
    }
}
.ov-title{
    font-size: clamp(2.1rem, 4vw, 5rem);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: 600;
    color:#ffff;
}

.ov-p{
    font-size: 20px;
    color: #ffff;
}
@media screen and (max-width: 400px){
    .ov-p{
        font-size: 15px;
        line-height: 25px;
    }
}
.ov-btn{
    font-size: 20px;
    width: 400px;
    height: 100px;
    background: none;
    letter-spacing: 1px;
    text-align: center;
    background: none;
    color: #ffff;
}

@media screen and (max-width: 400px){
    .ov-btn{
        width: 260px;
        height: 45px;
        font-size: 12px;
    }
}
.ov-btn:hover{
    color: #fff;
    background: rgb(12, 113, 131);
}

.ov-img{
    vertical-align: middle;
    height: 400px;
    width: 100%; 
}

.cards {
   padding: 50px;
    background: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: clamp(2.1rem, 4vw, 5rem);
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    
  }
  
  .cards__wrapper {
    position: relative;
    
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 2rem 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  /* .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  } */
  
  /* .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
   */
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 50px;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 5px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 90%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 5rem;
      margin-left: 0;
    }
  }

  
  