.can-not-vote-nav{
    background: rgba(0, 159, 187, 0.5);  
    padding: 15px;
    font-size: 18px;  
}

.can-not-vote-div{
    text-align: left;
    font-size: 19px;
    padding: 60px;
    letter-spacing: 1px;
    line-height: 30px;
}

.can-not-vote-title{
    font-size: 25px;
    font-weight: 700;
}

.can-not-vote-ul{
    list-style: inside;
    padding-top: 10px;
}
ol{
    padding-top: 20px;
}
@media screen and (max-width: 400px){
    .can-not-vote-nav {
       background: rgba(0, 159, 187, 0.5);  
       padding: 15px;      
    }
    .can-not-vote-div{
        font-size: 12px;
        padding: 30px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .can-not-vote-title{
        font-size: 15px;
    }
}